.card {
  background: #00000012;
  padding: 30px 20px 0 20px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
}

.container-1{
  position: relative;
}
.container-2{
  position: relative;
  padding: 20px;
}

.label-1 {
  position: absolute;
  left: 20px;
  top: -13px;
  font-size: 18px;
  font-style: italic;
  background: #144eb9;
  color: white;
  padding: 0px 15px;
}

.label-2 {
  position: absolute;
  left: 20px;
  top: 13px;
  font-size: 18px;
  font-style: italic;
  background: #516fa7;
  color: white;
  padding: 0px 15px;
}

.label-3 {
  position: absolute;
  left: 20px;
  top: -4px;
  font-size: 18px;
  font-style: italic;
  background: #516fa7;
  color: white;
  padding: 0px 15px;
}
